{% extends "layout.html" %}
{% block title %} Engineering {% endblock %}
{% block content %}

    <div class="firstLogin">
        <a href="/login_success">MAIN MENU</a>
    </div>
    <div class="text_container">
        <h3 class="pagetext"> Welcome to Q Branch </h3>
        <p class="pagetext"> We specialize in customization of:</p>
        <p class="pagetext">Vehicles</p>
        <p class="pagetext">Boats</p>
        <p class="pagetext">Watches</p>
        <p class="pagetext">And much, much more</p>
    </div>
{% endblock %}
