{% extends "layout.html" %}
{% block title %} Time Reporting {% endblock %}
{% block content %}

    <div class="firstLogin">
        <a href="/login_success">MAIN MENU</a>
    </div>
    <div class="text_container">
        <h3 class="pagetext"> Welcome to the Time Reporting Department </h3>
        <p class="pagetext">Please Email Time Cards to:</p>
        <p class="pagetext">007 Andrew Drive</p>
        <p class="pagetext">London, England</p>
        <p class="pagetext">533425</p>
    </div>
{% endblock %}
